:root
	--default-font: "Montserat", Arial, sans-serif
	--second-font: "UniSans", Arial, sans-serif

	--base-width: 1400px

	--body-bg-color: #151515
	--body-text-color: #fff

	--base-font-size: 16px

	--main-color: #BEFF33

	--second-color: #323232
	--thrid-color: rgba(255, 255, 255, 0.3)
	
	--border-color: rgba(131, 131, 131, 0.2)

	--default-shadow: 0px 8px 34px rgba(162, 210, 255, 0.08)

	--inline-padding: 40px

	--input-hor-spacing: 16px
	--input-vert-spacing: 24px