footer.footer-cont
	.wrapper
		.footer
			.footer-copy © Арена, Крытый спортивный комплекс<br> 2020, все права защищены
			.soc
				a(href="").soc__link
					img(src="img/ico-vk.svg", alt="")
				a(href="").soc__link
					img(src="img/ico-inst.svg", alt="")
			.footer-dev
				a(href="")
					img(src="img/dev.svg", alt="")