.notificator
	.wrapper
		.notificator__text Товар добавлен в 
			a(href="#") список 
			| - 6 товаров
			
.mobile-menu
	.mobile-menu__header
		.mobile-menu__logo
			img(src="img/logo.svg", alt="")
		.burger
			span
	.mobile-menu__links
	.mobile-menu__footer
		.soc
			a(href="").soc__link
				img(src="img/ico-vk.svg", alt="")
			a(href="").soc__link
				img(src="img/ico-inst.svg", alt="")


header.head-cont
	.wrapper
		.head
			.head-logo
				a(href="")
					img(src="img/logo.svg", alt="")
			address.head-address
				.head-address__city Челябинск
				.head-address__street Молодогвардейцев, 7  (Фиеста)
			.head-phone
				a(href="tel:83512188114") 8 351 218-81-14
			.head-menu
				ul.h-menu__list
					each link, i in ['Об Арене', 'забронировать', 'Правила', 'Фотогалерея', 'Контакты']
						if(i == 0)
							li.h-menu__item.active
								a(href="").h-menu__link Об Арене
						else
							li.h-menu__item
								a(href="").h-menu__link=link
			.head-btn
				a(href="").btn Оплата

			.burger
				span

