<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title 404
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		include mixins/title-block.pug
		+titleBLock(["", "Фотогалерея"])

		main#content
			.p-404-cont
				.wrapper
					.p-404
						.p-404__number
							img(src="img/404.png", alt="")
						.p-404__text
							.p-404__text-title Что-то пошло не так, страница<br> больше не существует
							a.p-404__text-link(href="#")
								span.p-404-links
									span.p-404-links__home.home-btn
									span.p-404-links__text Давайте найдём для вас место получше
							




				
		include inc/footer-inner.pug
		include inc/scripts.pug 