<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Выберите вид спорта
		include inc/head.pug
		include inc/css.pug
	body.inner.loading(style="background-image: url('img/photos/booking-bg.png'); overflow: hidden")
		include inc/header.pug
		main#content
			.sports-cont(style="")
				.parallax-container
					//- .box.box-1.parallax(data-speed-x="5" data-speed-y="5")
					//- 	img(src="img/photos/booking-bg.jpg", alt="")
					.box.box-2.parallax(data-speed-x="2" data-speed-y="10")
						img(src="img/photos/main-banner-2.jpg", alt="")
					.box.box-3.parallax(data-speed-x="10" data-speed-y="5")
						img(src="img/photos/main-banner-3.jpg", alt="")

				.wrapper
					.sports
						.sports__title Выберите вид спорта
						.sports__list
							a(href="#").sports__item
								.sports__item-img
									include ../img/ico-ball.svg
								.sports__item-text Футбольное поле
							a(href="#").sports__item
								.sports__item-img
									include ../img/ico-ball-2.svg
								.sports__item-text Волейбольная площадка
							a(href="#").sports__item
								.sports__item-img
									include ../img/ico-pingpong.svg
								.sports__item-text Теннисный стол




				
		include inc/footer-inner.pug
		include inc/scripts.pug 