<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Формы
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		main#content
			.wrapper
				ul
					li
						a(href="#call").fancybox Связаться с нами
					li
						a(href="#request").fancybox Вопрос руководству




				
		include inc/footer.pug
		include inc/scripts.pug 
include inc/forms.pug