<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Арена
		link(rel="shortcut icon" href="favicon.ico")
		//- link(rel="stylesheet" href="css/main.css")
		style(type="text/css")
			include inc/index.css
	body
		div
			.links
				.links_cont
					ul
						li
							a(target="_blank" href="main.html") Главная
						li
							a(target="_blank" href="booking.html") Бронирование
						li
							a(target="_blank" href="booking-index.html") Выберите вид спорта
						li
							a(target="_blank" href="booking-confirmation.html") Подтверждение бронирования
						li
							a(target="_blank" href="contacts.html") Контакты
						li
							a(target="_blank" href="gallery.html") Фотогалерея
						li
							a(target="_blank" href="404.html") 404
						li
							a(target="_blank" href="standart-page.html") Типовая страница
						li
							a(target="_blank" href="forms.html") Формы
						li
							a(target="_blank" href="zone-1.html") Футбольное поле
						li
							a(target="_blank" href="zone-2.html") Волейбольная площадка
						li
							a(target="_blank" href="zone-3.html") Тенисного стола
						li
							a(target="_blank" href="zone-4.html") Футбольный пляж