<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		include inc/header.pug
		main#content

			.main-banner__cont
				#parallax-container(style="overflow: hidden")
					.box.box-1.parallax(data-speed-x="5" data-speed-y="5")
						img(src="img/photos/main-banner.jpg", alt="")
					.box.box-2.parallax(data-speed-x="20" data-speed-y="20")
						img(src="img/photos/main-banner-2.jpg", alt="")
					.box.box-3.parallax(data-speed-x="30" data-speed-y="40")
						img(src="img/photos/main-banner-3.jpg", alt="")

				.main-banner
					h1.main-banner__title Аренда поля
					.main-banner__subtitle для твоей<br> команды
					.main-banner__btn
						a(href="").btn забронировать поле 
				.areas
					.areas__list
						a(href="#").areas__item
							.areas__item-img
								include ../img/ico-area-1.svg
							.areas__item-title Футбольное поле
						a(href="#").areas__item
							.areas__item-img
								include ../img/ico-area-2.svg
							.areas__item-title Волейбольная площадка
						a(href="#").areas__item
							.areas__item-img
								include ../img/ico-area-3.svg
							.areas__item-title Теннисный стол
			.services
				#parallax-container(style="overflow: hidden")
					.box.parallax(data-speed-x="10" data-speed-y="5")
						img(src="img/photos/parallax-services-right.png", alt="")
					.box.parallax(data-speed-x="5" data-speed-y="10")
						img(src="img/photos/parallax-services-left.png", alt="")
				.services__title дополнительные услуги
				.services__list
					a(href="#").services__item
						.services__item-img
							include ../img/ico-serv-1.svg
						.services__item-title Аренда поля для тренировок, секций, мероприятий
					a(href="#").services__item
						.services__item-img
							include ../img/ico-serv-2.svg
						.services__item-title Сауна
					a(href="#").services__item
						.services__item-img
							include ../img/ico-serv-3.svg
						.services__item-title Скалодром
					a(href="#").services__item
						.services__item-img
							include ../img/ico-serv-4.svg
						.services__item-title Хоккейный центр Никиты Нестероваий
					a(href="#").services__item
						.services__item-img
							include ../img/ico-serv-5.svg
						.services__item-title Квест комната
			.slider-full
				.slider-full__arrow
					.swiper-button.swiper-button-prev
					.swiper-button.swiper-button-next

				.slider-full__main
					.swiper-list
						.swiper-wrapper
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-1.jpg", alt="")
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-2.jpg", alt="")
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-3.jpg", alt="")
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-4.jpg", alt="")
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-5.jpg", alt="")
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-6.jpg", alt="")
				.slider-full__nav
					.swiper-list
						.swiper-wrapper
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-1.jpg", alt="")
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-2.jpg", alt="")
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-3.jpg", alt="")
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-4.jpg", alt="")
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-5.jpg", alt="")
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-6.jpg", alt="")
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-1.jpg", alt="")
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-2.jpg", alt="")
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-3.jpg", alt="")
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-4.jpg", alt="")
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-5.jpg", alt="")
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-6.jpg", alt="")
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-1.jpg", alt="")
							.swiper-slide
								figure.slider-full__slide
									img(src="img/photos/slider-2.jpg", alt="")
							
							
			.map
				.map-mask
					#map
						<!--ico-marker.svg-->
						img(src="img/photos/map.jpg", alt="")

			
				#parallax-container(style="overflow: hidden")
					.box.parallax(data-speed-x="5" data-speed-y="5")
						img(src="img/photos/parallax-map-1.png", alt="")
					.box.parallax(data-speed-x="8" data-speed-y="3")
						img(src="img/photos/parallax-map-2.png", alt="")
					.box.parallax(data-speed-x="5" data-speed-y="9")
						img(src="img/photos/parallax-map-3.png", alt="")
					.box.parallax(data-speed-x="1" data-speed-y="8")
						img(src="img/photos/parallax-map-4.png", alt="")
					.box.parallax(data-speed-x="7" data-speed-y="2")
						img(src="img/photos/parallax-map-5.png", alt="")
					.box.parallax(data-speed-x="6" data-speed-y="8")
						img(src="img/photos/parallax-map-6.png", alt="")



				
		include inc/footer.pug
		include inc/scripts.pug 